---
title: Welcome to Middleman
---

<div class="welcome">
  <div class="logo">
    <%= image_tag "icon-1024.png" %>
  </div>
  <h1>For support with Trivia Cards, Please visit email us: </h1>
  <p class="doc">
    <%= mail_to "triviabugs@gmail.com", "triviabugs@gmail.com" %>
  </p><!-- .doc -->
</div><!-- .welcome -->
